################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AttendanceApp_MVC/.vs/AttendanceApp_MVC
/AttendanceApp_MVC/AttendanceApp_MVC/bin/Debug/net8.0
/AttendanceApp_MVC/Attendance.Models/obj
/AttendanceApp_MVC/AttendanceApp_MVC/obj
/AttendanceApp_MVC/.vs/AttendanceBookApp_MVC/v17
/AttendanceApp_MVC/AttendanceBook.DataAccess/bin/Debug/net8.0
/AttendanceApp_MVC/Attendance.Models/bin/Debug/net8.0
/AttendanceApp_MVC/AttendanceBook.Repository/obj
